extends layout

block content
  .blue.clearfix
    .col-lg-4
      #slogan
        p The Blender Conference Animation Festival shows short films and visualizations reflecting the best creative work done with Blender in the past year. We invite film makers, artists, animators, designers or scientists to submit their work.

  .container
    .col-md-4
      h3 Character Animation
      p This award goes to character animation. The submitted video does not have to be a finished product. It can be fully rendered, but may for instance also be a video capture from the game engine.

    .col-md-4
      h3 Short Film
      p For this award we nominate work that has a clear director's signature. The audience will choose a winner because it is just the best experience to watch... whether it is for story telling, camera direction, staging or the great characterization.

    .col-md-4
      h3 Designed Short Film
      p Covers only the visual aspects of the submitted video. Simply put, the prettiest looking short film.

  .container
    h3 Submission Guidelines
    p The 3D graphics (models, animation, rendering) in the works has to be created entirely in Blender, rendered in Blender or one of the free and open render systems such as Yafaray or Lux. Any 2d paint/imaging program can be used. If you used other post-processing software for compositing or video editing, please mention it in your submission.

    h3 Video length and format
    p For the 2012 Festival, we require all submitters to use a streaming video website such as YouTube or Vimeo. That makes it easier to collect and review submissions.  If selected, we then either download the video from that site, or contact you to make a high quality HD version available. That video file can be of any format/length, but should play in the VLC player. They will be screened as HD/widescreen format (24/25/30fps, 1920 x 1080px progressive, square pixel, xvid encoded video, 44.1hz 16bit stereo audio). If you have the opportunity, submitting material in a similar format will result in a better final quality of the viewed work.  For longer shorts, we reserve the right to only show an excerpt of 5 minutes from your film. Tell us which 5 minutes to show in your submission!

    h3 How to Submit
    p Just fill out the form when you click on the Submit link on this site. You have to provide a link to a website offering streaming video, such as Youtube or Vimeo. If you like to keep the video hidden, you can provide an optional password too.  We don't accept DVD submissions or file download submissions.  After submission, you will get an email confirming it. We will publish all nominees in the week before the Blender Conference.

    h3 Specifying a Category
    p In your submission, you can optionally mention for which category you prefer to be nominated. In certain cases, the committee might decide to nominate a submission for another category. Entries will only be nominated in one category.

    h3 Entry Distribution
    p For competition submissions, the Blender Foundation must be allowed to show and distribute the work via their own channels. The videos will be made available for viewing/download at the blender.org website during and after the conference.
    p Note: if you use sound and music, you also should have the rights to use it and allow us to show and distribute it

    h3 Longer than 5 Minutes
    p If the submitted work is longer than 5 minutes, you may be asked to provide a shorter version for the festival, or to tell us what portion to show.

    h3 I only want to screen my work
    p You are free to submit a piece restricted to screening only during the festival, in that case the submission will be excluded from the competition.

    h3 Previous winners
    p Previous Suzanne winners are welcome to submit their work, but are not eligible for nomination in the same category again.

    h3 Any questions
    p Please fill out the Contact form.  Alternatively you can e-mail the Festival e-mail address directly.

    h3 Prizes
    p The three winners will receive a cool 3d printed Suzanne statue, five of the latest DVDs from the Blender e-shop, and EUR 250 cash!
    p The nominations will each get a free pick of a DVD in our e-shop.

